body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rajdhani", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 28px;
    /* color: white; */
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* margin-top: 3%; */
    background-color: #28bf96;
    height: 95.8vh;
    /* width: 100%; */
    padding: 15px;
    padding-left: 70px;
    padding-right: 70px;
}
.section1{
    background-color: rgb(255,255,255,0.3);
    /* width: 100%; */
    /* min-height: inherit; */
    margin-bottom: 8rem;
    /* height: ; */
    width: 100%;
}
.section1 h2{
    margin-left: 625px;
    color: black;
    font-weight: 500;
}
.text{
    display: flex;
    padding: 50px;
    /* border: 2px solid black; */
    margin-top: -40px;
}
p{
    text-align: center;
    /* text-transform: capitalize; */
}
/* nav {
  padding: 2rem 1rem;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
} */
.nav__links {
  list-style:none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.link a:hover {
  color: blue;
}
.container ul{
    margin-left: 1000px;
    margin-bottom: 39%;
    position: absolute;
}