<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="contactstyle.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Contact Us</h2>
            <p>Name:</p>
            <input class="inputfield" type="text" placeholder="Name">
            <p>Email</p>
            <input class="inputfield" type="email" placeholder="Email">
            <p>Phone Number</p>
            <input class="inputfield" type="number" placeholder="Phone Number">
            <p>Query or Suggestion:</p>
            <input class="inputfield" type="text" placeholder="Type here...">
            <!-- <p contenteditable="true" class="inputfield" id="ptag"></p> -->
        </div>
    </div>
</body>
</html>